  .BK001 {
    background-position-x: 0px;
  }

  .BK002 {
    background-position-x: -50px;
  }

  .BK003 {
    background-position-x: -100px;
  }

  .BK004 {
    background-position-x: -150px;
  }

  .BK005 {
    background-position-x: -200px;
  }

  .BK006 {
    background-position-x: -250px;
  }

  .BK007 {
    background-position-x: -300px;
  }

  .BK008 {
    background-position-x: -350px;
  }

  .BK009 {
    background-position-x: -400px;
  }

  .BK010 {
    background-position-x: -450px;
  }

  .BK011 {
    background-position-x: -500px;
  }

  .BK012 {
    background-position-x: -550px;
  }

  .BK013 {
    background-position-x: -600px;
  }

  .BK014 {
    background-position-x: -650px;
  }

  .BK015 {
    background-position-x: -700px;
  }

  .BK016 {
    background-position-x: -750px;
  }

  .BK017 {
    background-position-x: -800px;
  }

  .BK018 {
    background-position-x: -850px;
  }

  .BK019 {
    background-position-x: -900px;
  }

  .BK020 {
    background-position-x: -950px;
  }

  .BK021 {
    background-position-x: -1000px;
  }

  .BK022 {
    background-position-x: -1050px;
  }

  .BK023 {
    background-position-x: -1100px;
  }

  .BK024 {
    background-position-x: -1150px;
  }

  .BK025 {
    background-position-x: -1200px;
  }

  .BK026 {
    background-position-x: -1250px;
  }

  .BK027 {
    background-position-x: -1300px;
  }

  .BK028 {
    background-position-x: -1350px;
  }

  .BK029 {
    background-position-x: -1400px;
  }

  .BK030 {
    background-position-x: -1450px;
  }

  .BK031 {
    background-position-x: -1500px;
  }

  .BK032 {
    background-position-x: -1550px;
  }

  .BK033 {
    background-position-x: -1600px;
  }

  .BK034 {
    background-position-x: -1650px;
  }

  .BK035 {
    background-position-x: -1700px;
  }

  .BK036 {
    background-position-x: -1750px;
  }

  .BK037 {
    background-position-x: -1800px;
  }

  .BK038 {
    background-position-x: -1850px;
  }

  .BK039 {
    background-position-x: -1900px;
  }

  .BK040 {
    background-position-x: -1950px;
  }

  .BK041 {
    background-position-x: -2000px;
  }

  .BK042 {
    background-position-x: -2050px;
  }

  .BK043 {
    background-position-x: -2100px;
  }

  .BK044 {
    background-position-x: -2150px;
  }

  .BK045 {
    background-position-x: -2200px;
  }

  .BK046 {
    background-position-x: -2250px;
  }

  .BK047 {
    background-position-x: -2300px;
  }

  .BK048 {
    background-position-x: -2350px;
  }

  .BK049 {
    background-position-x: -2400px;
  }

  .BK050 {
    background-position-x: -2450px;
  }

  .BK051 {
    background-position-x: -2500px;
  }

  .BK052 {
    background-position-x: -2550px;
  }

  .BK053 {
    background-position-x: -2600px;
  }

  .BK054 {
    background-position-x: -2650px;
  }

  .BK055 {
    background-position-x: -2700px;
  }

  .BK056 {
    background-position-x: -2750px;
  }

  .BK057 {
    background-position-x: -2800px;
  }

  .BK058 {
    background-position-x: -2850px;
  }

  .BK059 {
    background-position-x: -2900px;
  }

  .BK060 {
    background-position-x: -2950px;
  }

  .BK061 {
    background-position-x: -3000px;
  }

  .BK062 {
    background-position-x: -3050px;
  }

  .BK063 {
    background-position-x: -3100px;
  }

  .BK064 {
    background-position-x: -3150px;
  }

  .BK065 {
    background-position-x: -3200px;
  }

  .BK066 {
    background-position-x: -3250px;
  }

  .BK067 {
    background-position-x: -3300px;
  }

  .BK068 {
    background-position-x: -3350px;
  }

  .BK069 {
    background-position-x: -3400px;
  }